@font-face {
    font-family: sf-pro;
    src: url(./font/SFPRODISPLAYREGULAR.OTF);
}
*{
    box-sizing: border-box;
    font-family: sf-pro;
}
/*nav-------------------------------------------------*/
header{
    position: fixed;
    width: 100vw;
    transform: translateY(-15%);
}
nav{
    display:flex;
    justify-content: space-around;
    background-color: #000000;
    opacity: 80%;
    padding: 18px 260px;
    align-items: center;
}
nav p{
    color: #FFF;
}
nav img{
    width: 13px;
    height: 15px;
}
/*main--------------------------------------------------*/
main{
    padding: 0 424px;
    padding-top: 100px;
    background-color:rgb(251,251,253);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
main h1{
    font-weight: 700;
    font-size: 56px;
    line-height:60px;
    color: #1D1D1F;
}
main h2{
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
}
main div{
    display: flex;
}
main p{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066CC;
    margin: 0 30px;
}
main img{
    height: 499px;
}
/* section-1--------------------------------------------*/
.section-1{
    padding:0px 424px;
    padding-top: 100px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-1 h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #F5F5F7;
}
.section-1 h2{
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    color: #F5F5F7;
}
.section-1 div{
    display: flex;
}
.section-1 p{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066CC;
    margin: 0 30px;
}
.section-1 img{
    height: 692px;
}
/* section-2--------------------------------------------*/
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 424px;
    padding-top: 100px;
    background-color:rgb(251,251,253);
}
.section-2 img:first-child{
    height: 71px;
}
.section-2 h3{
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    color: #1D1D1F;
}
.section-2 div{
    display: flex;
}
.section-2 p{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066CC;
    margin: 0 30px;
}
.section-2 img:last-child{
    height: 459px;
}
/*section-3----------------------------------------------------------*/
.section-3{
    display: flex;
    justify-content: center;
}
.section-3-left{
    flex: 1;
    background-color: #000;
    margin: 0 10px;
    padding: 0 100px;
    padding-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section-3-right{
    flex: 1;
    background-color: #000;
    padding: 0 100px;
    padding-top: 51px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section-3 h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #F5F5F7;
}
.section-3 h4{
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #F5F5F7;
}
.section-3 div div{
    display: flex;
}
.section-3 div p{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066CC;
    margin: 0 30px;
}
/*section-4---------------------------------------------------*/
.section-4{
    display: flex;
    justify-content: center;
    background-color: rgb(245,245,247);
}
.section-4-left{
    flex: 1;
    margin: 0 10px;
    padding: 0 100px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-4-right{
    flex: 1;
    padding: 0 10px;
    padding-top: 60px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-4-left img:first-child{
    height: 49px;
}
.section-4-right img:first-child{
    height: 32px;
}
.section-4 h4{
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #1D1D1F;
}
.section-4 div div{
    display: flex;
}
.section-4 div div p{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066CC;
    margin: 0 30px;
}
.section-4 div div p:last-child{
    transform: translateY(50%);
}
.available{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #86868B;
}
/*section-5--------------------------------------------------------------------*/
.section-5{
    display: flex;
    justify-content: center;
    background-color:rgb(251, 251, 253)
}
.section-5-left{
    flex: 1;
    margin: 0 10px;
    padding: 0 100px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-5-right{
    flex: 1;
    padding: 0 10px;
    padding-top: 60px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.section-5-left img:first-child{
    height: 49px;
}
.section-5-right img:first-child{
    height: 32px;
}
.section-5 div div{
    display: flex;
}
.section-5 div div p{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066CC;
    margin: 0 30px;
}
.get{
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #1D1D1F;
}
/*footer-------------------------------------------------------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    padding: 0 266px;
}
.footer-1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 180px;
}
.footer-1 p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6e6e73;
}
.footer-2 {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
.footer-2 p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #424245;
}
.footer-2 p b{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #1D1D1F;
}
.footer-2 div{
    display: flex;
    flex-direction: column;
}
.footer-3{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}
.footer-3 div{
    background-color: #D2D2D7;
    width: 1px;
    height: 10px;
}
.more{
    padding: 0 76px;
}
.more p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6e6e73;
}
.footer-3 p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #424245;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #D2D2D7;
}